<form id="regform" name="regform" class="form" ng-submit="vm.save() && regform.$valid" novalidate>
    <br>
    <legend>Update Product</legend>

    <div class="form-group">
        <label class="control-label" for="brand">Brand </label>
        <input type="text" class="form-control" id="brand" name="brand"
               ng-model="vm.searchObject.brand" required>
        <!--<div class="validation alert-danger" data-ng-show="regform.brand.$touched || regform.$submitted">-->
                <!--<span data-ng-show="regform.brand.$error.required">-->
                    <!--Brand is mandatory-->
                <!--</span>-->
        <!--</div>-->
    </div>

    <div class="form-group">
        <label class="control-label" for="name">Product Name</label>
        <input type="text" class="form-control" id="name" name="name"
               ng-model="vm.searchObject.name" required>
        <!--<div class="validation alert-danger" data-ng-show="regform.name.$touched || regform.$submitted">-->
                <!--<span data-ng-show="regform.brand.$error.required">-->
                    <!--Product Name is mandatory-->
                <!--</span>-->
        <!--</div>-->
    </div>

    <div class="form-group">
        <label class="control-label" for="name">Bar code</label>
        <input type="text" class="form-control" id="upc12" name="upc12"
               ng-model="vm.searchObject.upc12" required>
        <!--<div class="validation alert-danger" data-ng-show="regform.name.$touched || regform.$submitted">-->
        <!--<span data-ng-show="regform.brand.$error.required">-->
        <!--Product Name is mandatory-->
        <!--</span>-->
        <!--</div>-->
    </div>

    <button type="submit" class="btn primary">
            <!--ng-disabled="regform.$invalid"-->
        Save
    </button>
    <button type="reset" class="btn primary">
        Cancel
    </button>
</form>
<br>
<!--<div class="alert alert-success center" role="alert" data-ng-show="vm.server_response">-->
    <!--{{vm.server_response}}-->
<!--</div>-->


