<form id="regform" name="regform" class="form" ng-submit="vm.searchProduct() && regform.$valid" novalidate>
    <br>
    <legend>Search Product</legend>

    <div class="form-group">
        <label class="control-label" for="brand">Brand </label>
        <input type="text" class="form-control" id="brand" name="brand"
               ng-model="vm.brandname" required>
        <!--<div class="validation alert-danger" data-ng-show="regform.brand.$touched || regform.$submitted">-->
        <!--<span data-ng-show="regform.brand.$error.required">-->
        <!--Brand is mandatory-->
        <!--</span>-->
        <!--</div>-->
    </div>

    <div class="form-group">
        <label class="control-label" for="name">Product Name</label>
        <input type="text" class="form-control" id="name" name="name"
               ng-model="vm.productname" required>
        <!--<div class="validation alert-danger" data-ng-show="regform.name.$touched || regform.$submitted">-->
        <!--<span data-ng-show="regform.brand.$error.required">-->
        <!--Product Name is mandatory-->
        <!--</span>-->
        <!--</div>-->
    </div>

    <button type="submit" class="btn primary">
        <!--ng-disabled="regform.$invalid"-->
        Search
    </button>
    <button type="reset" class="btn primary">
        Clear
    </button>
</form>
<br>
<div class="alert alert-success center" role="alert" data-ng-show="vm.server_response">
    {{vm.server_response}}
</div>

<hr>
<div class="form-group">
    <h3> Products </h3>

    <!--<div class="col-sm-3 pull-right">-->
    <!--<select name="rsvp" id="rsvp" ng-model="vm.selectRsvp">-->
    <!--<option value='1'>Attending</option>-->
    <!--<option value='2'>Not Attending</option>-->
    <!--<option value="0">Pending RSVP</option>-->
    <!--</select>-->
    <!--</div>-->

    <!--<div class="col-sm-5 pull-left">-->
    <!--<input type="text" name="name" id="guestname"-->
    <!--placeholder="Enter name to search" ng-model="vm.getGuestName">-->

    <!--<i class="fa fa-search fa-2x" aria-hidden="true" ng-click="vm.getGuest()"></i>-->
    <!--</div>-->

    <table class="table table-hover">
        <thead>
        <tr>
            <th>S/N</th>
            <th>Barcode</th>
            <th>Brand</th>
            <th>Product Name</th>
        </tr>
        </thead>

        <tbody ng-repeat="prod in vm.products | orderBy: 'name'">
        <tr>
            <td>{{($index+1)}}</td>

            <td>
                <img src="http://www.barcodes4.me/barcode/c128a/{{prod.upc12}}.png?IsTextDrawn=1">

            </td>
            <td>{{prod.brand}}</td>
            <td>{{prod.name}}</td>
            <td><i class="fa fa-pencil" aria-hidden="true" ng-click="vm.editProduct(prod.id)"></i></td>
        </tr>
        </tbody>
    </table>

</div>
